:root {
    --background-color: #141414;
    --background-color-secondary: #9b8b6d;
    --text-color: #8f7139;
    --text-color-secondary: #ebd6b6;
    --text-color-hover: #bb9144;
    --apply-bttn-color: #44aa44;
    --apply-bttn-color-hover: #357035;
}



html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);

    overflow: scroll;

    scroll-behavior: smooth;

}  

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 5vh;
    background-color: #000000a1;
}

.navBar ul, li, a {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navBar a {
    color: var(--text-color);
    font-family: 'Poppins';
}

.navBar a:hover {
    color: var(--text-color-hover);
}

.quick-job-offers {
    text-align: center;
    margin-top: 100px;
    font-family: 'Poppins';
    font-size: 25px;
    color: var(--text-color);
    
}

.job-offer-sub-text { 
    text-align: center;
    margin-top: -25px;
    font-family: 'Poppins';
    color: white;
}

.job-offer-sub-text a {
    display: inline;
    color: var(--text-color);
    text-decoration: underline;
}

.cardContainer {
    background-color: var(--background-color-secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 400px;
}

.card {
    flex: 0 1 300px;
    max-width: 100%;
    flex-direction: column;
    display: flex;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-right: 40px;
    border-radius: 20px;
    background-color: rgb(37, 37, 37);
    align-items: center;
    justify-content: center;
}

.job-title  {
    font-family: 'Poppins';
    font-size: 17px;
    color: var(--text-color);
}

.job-title-sub-text {
    text-align: center;
    font-family: 'Poppins';
    font-size: 13px;
    color: var(--text-color-secondary);
}

.apply-bttn {
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-top: 40px;
    background-color: var(--apply-bttn-color);
}

.apply-bttn:hover {
    background-color: var(--apply-bttn-color-hover);
    transition: 500ms ease;
}

.searchContainer {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-search-text {
    color: var(--text-color);
    text-align: center;
    margin-top: 50px;
}


